
@{
    ViewBag.Title = "Create";
}

<h2>Create Program</h2>

<form method="post">
    <span>Program Name</span>
    <input type="text" value="@Model.ProgramName" name="ProgramName" class="form-control" />
    <span>Air Time</span>
    <input type="time" value="@Model.AirTime" name="AirTime" class="form-control" />
    <span>TRP</span>
    <input type="text" inputmode="decimal" pattern="[0-9][.]?[0-9]" value="@Model.TRPScore" name="TRPScore" class="form-control" />
    <span>Channel</span>
    <select name="ChannelId" class="form-control">
        @foreach (var item in ViewBag.channels)
        {   
            <option value="@item.ChannelId" class="border-1 table-bordered overflow-scroll form-control-color">@item.ChannelName</option>
        }
    </select>
    <br />
    <input type="submit" value="Create" class="btn btn-primary" />
    <a href="/program/programlist" class="btn btn-warning">Back to List</a>
</form>


