
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Program</h2>

<form method="post">
    <input type="hidden" value="@Model.ProgramId" name="ProgramId" />
    <span>Program Name</span>
    <input type="text" value="@Model.ProgramName" name="ProgramName" class="form-control" />
    <span>Air Time</span>
    <input type="time" value="@Model.AirTime" name="AirTime" class="form-control" />
    <span>TRP</span>
    <input type="text" inputmode="decimal" pattern="[0-9][.]?[0-9]" value="@Model.TRPScore" name="TRPScore" class="form-control" />
    <span>Channel</span>
    <select name="ChannelId" class="form-control">
        <option value="@Model.ChannelId" class="border-1 table-bordered overflow-scroll form-control-color">@ViewBag.Channel_name.ChannelName</option>
          
        @foreach (var item in ViewBag.channels)
        {
            if (item.ChannelId == ViewBag.Channel_name.ChannelId)
            {
                continue;
            }
        <option value="@item.ChannelId" class="border-1 table-bordered overflow-scroll form-control-color">@item.ChannelName</option>
    }
    </select>
    <br />
    <input type="submit" value="Update" class="btn btn-primary" />
    <a href="/program/programlist" class="btn btn-warning">Back to List</a>
  </form>


